.page.theme_dark {
    --text-color: rgb(0, 0, 40);
    --main-color: rgb(241, 178, 206);
    --accent-color: rgb(255, 0, 112);
    --btn-color: var(--accent-color);
    --decorated-color: var(--accent-color);
    --acrticle-title-color: var(--accent-color);
    --color-transparent: rgba(255, 0, 112, 0.4);
    --title-color: rgb(219, 0, 255);
    --visible-decorated: block;

    --bg-image: url(../images/cover-image-dark.png);
}

/* Остальные стили */

