.page.theme_light {
    --bg-color: #fff1f7;
    --text-color: rgb(53, 52, 48);
    --main-color: var(--text-color);
    --accent-color: rgba(255, 141, 203);
    --current-color: rgb(53, 52, 48);
    --color-transparent: rgba(53, 52, 48, 0.4);
    --title-color: rgba(255, 194, 230);
    --visible-decorated: none;

    --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --text-color: rgb(53, 52, 48);
        --main-color: rgba(53, 52, 48);
        --accent-color: rgba(255, 141, 203);
        --current-color: rgb(53, 52, 48);
        --color-transparent: rgba(53, 52, 48, 0.4);
        --title-color: rgba(255, 194, 230);
        --visible-decorated: none;

        --bg-image: url(../images/cover-image-light.png);
    }
}

.theme-light .header__theme-menu-button {
    color: var(--text-color);
}






