.page.theme-light {
    --text-color: rgb(53, 52, 48);
    --main-color: rgba(53, 52, 48);
    --accent-color: rgba(255, 141, 203);
    --color-transparent: rgba(53, 52, 48, 0.4);
    --title-color: rgba(255, 194, 230);

    --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: rgb(53, 52, 48);
        --main-color: rgba(53, 52, 48);
        --accent-color: rgba(255, 141, 203);
        --color-transparent: rgba(53, 52, 48, 0.4);
        --title-color: rgba(255, 194, 230);

        --bg-image: url(../images/cover-image-light.png);
    }
}

.theme-light .header__theme-menu-button {
    color: var(--text-color);
}




